.ce-prestaciones-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 0 3rem 0;
}

.section-label {
    font-size: 4.2vh;
    line-height: 1.5;
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

.prestaciones-section,
.programas-section {
    margin-bottom: 3rem;
}

@media (max-width:992px) {
    .ce-prestaciones-img {
        max-width: 450px;
        margin-bottom: 2.5rem;
    }

    .section-label {
        font-size: 4vh;
    }
}

@media (max-width:768px) {
    .ce-prestaciones-img {
        max-width: 350px;
        margin-bottom: 2rem;
    }

    .section-label {
        font-size: 3.8vh;
        margin-bottom: 1.5rem;
    }
}

@media (max-width:576px) {
    .ce-prestaciones-img {
        max-width: 280px;
        margin-bottom: 1.5rem;
    }

    .section-label {
        font-size: 3.5vh;
        line-height: 1.4;
        margin-bottom: 1.2rem;
    }
}

@media (max-width:400px) {
    .ce-prestaciones-img {
        max-width: 240px;
        margin-bottom: 1.2rem;
    }

    .section-label {
        font-size: 3vh;
    }
}

.service-item {
    padding: 0;
    height: 250px;
    overflow: hidden;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.service-content {
    padding: 1.2rem 0.8rem;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
}

.service-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.service-description {
    padding: 0.8rem 0.5rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: var(--text-color);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    word-wrap: break-word;
}

.service-item.prestacion .service-content {
    background-color: var(--main-color);
}

.service-item.programa .service-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.service-item.programa .service-content img {
    display: none;
}

.service-item.programa[data-bg="desarrolladora"] .service-content {
    background-image: url('../../img/CE/prestaciones/item_desarrolladora_emprendedores.png');
}

.service-item.programa[data-bg="renovacion"] .service-content {
    background-image: url('../../img/CE/prestaciones/item_renovacion_comercial.png');
}

.service-item.programa[data-bg="mercado"] .service-content {
    background-image: url('../../img/CE/prestaciones/item_mercado_comunitario.png');
}

.service-item.programa[data-bg="conexion"] .service-content {
    background-image: url('../../img/CE/prestaciones/item_conexion_comercial.png');
}

.service-item.programa .service-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.service-item:hover .service-content {
    transform: translateY(-2px);
}

.service-item.prestacion:hover .service-content {
    background-color: var(--secondary-color);
}

@media (max-width:992px) {
    .service-description {
        font-size: 1.1rem;
        line-height: 1.15;
        padding: 0.7rem 0.4rem;
    }
}

@media (max-width:768px) {
    .service-item {
        height: 190px;
         margin-bottom: 0;
    }

    .service-content {
        height: 150px;
        padding: 1rem 0.6rem;
    }

    .service-content img {
        width: 100%;
        height: 100%;
    }

    .service-description {
        font-size: 1rem;
        padding: 0.6rem 0.4rem;
        line-height: 1.1;
        align-items: start;
    }
}

@media (max-width:576px) {
    .service-item {
        height: 157px;
    }

    .service-content {
        height: 130px;
        padding: 0.8rem 0.4rem;
    }

    .service-content img {
        width: 100%;
        height: 100%;
    }

    .service-description {
        font-size: 0.9rem;
        padding: 0.5rem 0.3rem;
        line-height: 1.05;
    }
}

@media (max-width:400px) {
    .service-item {
        height: 140px;
    }

    .service-content {
        height: 120px;
        padding: 0.6rem 0.3rem;
    }

    .service-description {
        font-size: 0.8rem;
        padding: 0.4rem 0.2rem;
        line-height: 1.0;
    }
}